@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400;600&display=swap");
html,
body,
* {
	font-family: "JetBrains Mono", monospace !important;
}

#root {
	min-height: 99vh;
	display: flex;
	padding: 0 1rem;
	flex-direction: column;
	justify-content: space-between;
}
@media (prefers-color-scheme: dark) {
	body {
		background-color: #00695c;
		color: #b2dfdb;
	}
	.todo-title {
		color: #b2dfdb;
	}
	section,
	.form {
		background-color: #b2dfdb;
		color: #00695c;
	}
	.add-todo svg {
		fill: #00695c;
	}
}
@media (prefers-color-scheme: light) {
	body {
		background-color: #b2dfdb;
		color: #004d40;
	}
	.todo-title {
		color: #004d40;
		font-family: "Jet Brains Mono";
	}
	section,
	.form {
		background-color: #b2dfdb;
		color: #004d40;
	}
	.add-todo svg {
		fill: #b2dfdb;
	}
}
header,
footer {
	text-align: center;
}
main {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
footer {
	margin-bottom: 1em;
	font-weight: 400;
	font-size: 14px;
}
footer span {
	font-size: 16px;
}
section {
	display: inline-flex;
	position: relative;
	flex-direction: column;
	padding: 10px;
	max-width: 650px;
	width: 100%;
	border-radius: 4px;
}
.todo-item-checked {
	text-decoration: line-through;
}
.form {
	width: 100%;
	display: flex;
	align-items: flex-start;
	gap: 2px;
}
.todo-list {
	overflow-y: auto;
	max-width: 650px;
	width: 100%;
	min-height: 500px;
	max-height: 600px;
}
.editable {
	background-color: lightseagreen;
	padding: 2px 5px;
	color: white;
}
